@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');


body {
    background : linear-gradient(rgba(0, 147, 233), rgba(128, 208, 199));
    color: white;
    font-family: 'Space Mono', monospace;
    text-align: center;
    overflow: hidden;
    height: 100vh;
}

h1 {
    font-size: 7rem;
    position: relative;
    display: inline-block;
    border-bottom: 5px solid rgba(0, 180, 216);
}

h1::after {
    content : 'Hallo!';
    position: absolute;
    top: 50px;
    right: -90px;
    font-size: 1rem;
    background-color: rgba(144, 224, 239);
    padding: .5rem 1rem;
    border-radius: 50%;
    font-size: 2rem;
    opacity: .7;
    transform: rotate(45deg);


}

.text1 {
    width: 60%;
    margin: 80px auto;
    font-size: 1.5rem
}


.clock span {
    font-size: 4rem;
    background: linear-gradient(rgba(0, 180, 216), rgba(144, 224, 239));
    padding: 3rem 8rem;
}